	  <div class="back-cadastro hidden-xs">
        <div id="cont" class="back-cadastrobranco">    
			
		</div>
		<img src="img/payjump.png" alt="linha Contato" class="logo-cadastro">
	</div>
	<div id="h-contato" class="hidden-xs noteexhide">
		<br>
		<h4 class="titulo-cadastro">Crie a sua conta no <i>PayJump</i></h4>
		<img src="img/linha-contato.png" alt="linha Contato" class="linha-cadastro">
		<form ng-submit="cadastrar()" class="form-cadastro">
			<p id="txtform">
			    <input ng-model="user.name" class="form-control" type="text" size="40" name="nome" id="nome" placeholder="Nome" onfocus="EmptyField(this.id);"></p>   
			<p id="txtform">
			    <input ng-model="user.email" class="form-control" type="text" size="40" name="replyto" id="e-mail" placeholder="Email" onfocus="EmptyField(this.id);"></p>   
			<p id="txtform">
			    <input ng-model="user.cpf" class="form-control" type="text" size="40" name="replyto" id="cpf" placeholder="CPF" onfocus="EmptyField(this.id);"></p>   
			<p id="txtform">
			    <input ng-model="user.cel" class="form-control" type="text" size="40" name="replyto" id="celular" placeholder="Celular" onfocus="EmptyField(this.id);"></p>   
			<p id="txtform">
			    <input ng-model="user.indicacao" class="form-control" type="text" size="40" name="replyto" id="indicacao" placeholder="Indicação" onfocus="EmptyField(this.id);"></p>   
			<p>
			<p id="txtform">
			    <input ng-model="user.password" class="form-control" type="text" size="40" name="replyto" id="senha" placeholder="Senha" onfocus="EmptyField(this.id);"></p>   
			<p>
			<button type="submit" name="btEnvia" class="btn btn-success btn-lg btn-block botaocadastro btncadastro"><span class="textobotaocadastro">CADASTRAR</span></button></p>
		</form>
	</div>
	
	<div id="h-contato" class="hidden-xs noteex">
		<br>
		<h4 class="titulo-cadastronoteex">Crie a sua conta no <i>PayJump</i></h4>
		<img src="img/linha-contato.png" alt="linha Contato" class="linha-cadastronoteex">
		<form ng-submit="cadastrar()" class="form-cadastronoteex">
			<p id="txtform">
			    <input ng-model="user.name" class="form-control" type="text" size="40" name="nome" id="nome" placeholder="Nome" onfocus="EmptyField(this.id);"></p>   
			<br>
			<p id="txtform">
			    <input ng-model="user.email" class="form-control" type="text" size="40" name="replyto" id="e-mail" placeholder="Email" onfocus="EmptyField(this.id);"></p>   
			<br>
			<p id="txtform">
			    <input ng-model="user.cpf" class="form-control" type="text" size="40" name="replyto" id="cpf" placeholder="CPF" onfocus="EmptyField(this.id);"></p>   
			<br>
			<p id="txtform">
			    <input ng-model="user.cel" class="form-control" type="text" size="40" name="replyto" id="celular" placeholder="Celular" onfocus="EmptyField(this.id);"></p>   
			<br>
			<p id="txtform">
			    <input ng-model="user.indicacao" class="form-control" type="text" size="40" name="replyto" id="indicacao" placeholder="Indicação" onfocus="EmptyField(this.id);"></p>   
			<br>
			<p id="txtform">
			    <input ng-model="user.password" class="form-control" type="text" size="40" name="replyto" id="senha" placeholder="Senha" onfocus="EmptyField(this.id);"></p>   
			<p>
			<p><button type="submit" name="btEnvia" class="btn btn-success btn-lg btn-block botaocadastronoteex btncadastronoteex"><span class="textobotaocadastro">CADASTRAR</span></button></p>
		</form>
	</div>
	
	
	<div class="back-cadastrocel hidden-sm hidden-lg hidden-md">
        <div id="cont" class="back-cadastrobrancocel">    
			
		</div>
		<img src="img/payjump.png" alt="linha Contato" class="logo-cadastrocel">
	</div>
	<div id="h-contato" class="hidden-sm hidden-lg hidden-md">
		<br>
		<h4 class="titulo-cadastrocel">Crie a sua conta no <i>PayJump</i></h4>
		<form ng-submit="cadastrar()" class="form-cadastrocel">
			<p id="txtform">
			    <input ng-model="user.name" class="form-control" type="text" size="40" name="nome" id="nome" placeholder="Nome" onfocus="EmptyField(this.id);"></p>   
			<br>
			<p id="txtform">
			    <input ng-model="user.email" class="form-control" type="text" size="40" name="replyto" id="e-mail" placeholder="Email" onfocus="EmptyField(this.id);"></p>   
			<br>
			<p id="txtform">
			    <input ng-model="user.cpf" class="form-control" type="text" size="40" name="replyto" id="cpf" placeholder="CPF" onfocus="EmptyField(this.id);"></p>   
			<br>
			<p id="txtform">
			    <input ng-model="user.cel" class="form-control" type="text" size="40" name="replyto" id="celular" placeholder="Celular" onfocus="EmptyField(this.id);"></p>   
			<br>
			<p id="txtform">
			    <input ng-model="user.indicacao" class="form-control" type="text" size="40" name="replyto" id="indicacao" placeholder="Indicação" onfocus="EmptyField(this.id);"></p>   
			<br>
			<p id="txtform">
			    <input ng-model="user.password" class="form-control" type="text" size="40" name="replyto" id="senha" placeholder="Senha" onfocus="EmptyField(this.id);"></p>   
			<p>
			<p><button type="submit" name="btEnvia" class="btn btn-success btn-lg btn-block botaocadastrocel btncadastrocel"><span class="textobotaocadastro">CADASTRAR</span></button></p>
		</form>
	</div>
	
	
	<div class="back-footercadastrocel hidden-sm hidden-lg hidden-md">
	    <img class="madeira1" src="img/madeira.png" alt="divisão de madeira" width="100%" height="10px">
		<p class="copy">&copy; Copyright 2017 by <a class="acopy" href="http://www.dj.blog.br/">DJ FULL DIGITAL</a> - All rights reserved!</p>
	</div>
	
	<div class="back-footercadastro hidden-xs">
	    <img class="madeira1" src="img/madeira.png" alt="divisão de madeira" width="100%" height="10px">
		<p class="copy">&copy; Copyright 2017 by <a class="acopy" href="http://www.dj.blog.br/">DJ FULL DIGITAL</a> - All rights reserved!</p>
	</div>