<div class="container-full" data-container="true">
	  <div class="back-login hidden-xs">
        <div id="cont" class="back-loginbranco">    
			
		</div>
		<img src="img/payjump.png" alt="linha Contato" class="logo-login">
	</div>
	
	<div id="h-contato" class="hidden-xs noteexhide">
		<br>
		<h4 class="titulo-login">Login no <i>PayJump</i></h4>
		<img src="img/linha-contato.png" alt="linha Contato" class="linha-login">
		<form class="form-login" ng-submit="login()" role="form">
			<p id="txtform"><input class="form-control" type="text" size="40" id="nome" placeholder="Usuário ou email" onfocus="EmptyField(this.id);" ng-model="username.value" ></p>   
			<br>
			<p id="txtform"><input class="form-control" type="text" size="40" id="e-mail" placeholder="Senha" onfocus="EmptyField(this.id);" ng-model="password.value"></p>   
			<br>
			<br>
			<div class="form-check">
                <input type="checkbox" class="form-check-input hidden-sm hidden-lg hidden-md" id="checksenha">
                <label class="form-check-label hidden-sm hidden-lg hidden-md" for="checksenha">Lembrar senha</label>
              </div>
			<br>
			<p><button ng-disabled="form.$invalid || vm.dataLoading" type="submit" name="btEnvia" class="btn btn-success btn-lg btn-block botaologin btnlogin"><span class="textobotaologin">ENVIAR</span></button></p>
		</form>
		<div class="texto-login1">
		    <p id="txtform" class="pesqueceu">Esqueceu sua senha? <a>Clique aqui para recuperá-la</a></p>   
		</div>
		<div >
		    <p class="texto-login2" id="txtform">Ainda não tem cadastro? <a>REGISTRE-SE</a></p>   
		</div>
	</div>
	<div id="h-contato" class="hidden-xs noteex">
		<br>
		<h4 class="titulo-loginnoteex">Login no <i>PayJump</i></h4>
		<img src="img/linha-contato.png" alt="linha Contato" class="linha-loginnoteex">
		<form class="form-loginnoteex" ng-submit="login()" role="form">
			<p id="txtform"><input class="form-control" type="text" size="40" id="nome" placeholder="Usuário ou email" onfocus="EmptyField(this.id);" ng-model="username.value"></p>   
			<br>
			<p id="txtform"><input class="form-control" type="text" size="40" id="e-mail" placeholder="Senha" onfocus="EmptyField(this.id);" ng-model="password.value"></p>   
			<br>
			<br>
			<div class="form-check">
                <input type="checkbox" class="form-check-input hidden-sm hidden-lg hidden-md" id="checksenha">
                <label class="form-check-label hidden-sm hidden-lg hidden-md" for="checksenha">Lembrar senha</label>
              </div>
			<br>
			<p><button type="submit" ng-disabled="form.$invalid || vm.dataLoading" name="btEnvia" class="btn btn-success btn-lg btn-block botaologin btnlogin"><span class="textobotaologin">ENVIAR</span></button></p>
		</form>
		<div class="texto-login1">
		    <p id="txtform" class="pesqueceu">Esqueceu sua senha? <a>Clique aqui para recuperá-la</a></p>   
		</div>
		<div >
		    <p class="texto-login2" id="txtform">Ainda não tem cadastro? <a>REGISTRE-SE</a></p>   
		</div>
	</div>
			
	<div class="back-login hidden-sm hidden-lg hidden-md">
        <div id="cont" class="back-loginbrancocel">    
			
		</div>
		<img src="img/payjump.png" alt="linha Contato" class="logo-logincel">
	</div>
	
	<div id="h-contato" class="hidden-sm hidden-lg hidden-md">
				<br>
				<h4 class="titulo-logincel">Login no <i>PayJump</i></h4>
				<form class="form-logincel" ng-submit="login()" role="form">
					<p id="txtform"><input class="form-control" type="text" size="40" id="nome" placeholder="Usuário ou email" onfocus="EmptyField(this.id);" ng-model="username.value"></p>   
					<br>
					<p id="txtform"><input class="form-control" type="text" size="40" id="e-mail" placeholder="Senha" onfocus="EmptyField(this.id);" ng-model="password.value"></p>   
					<p><button type="submit" ng-disabled="form.$invalid || vm.dataLoading" name="btEnvia" class="btn btn-success btn-lg btn-block botaologincel btnlogincel"><span class="textobotaologin">ENVIAR</span></button></p>
					<div class="form-checkcel">
                        <input type="checkbox" class="form-check-input hidden-xs" id="checksenha">
                        <label class="form-check-label hidden-xs" for="checksenha">Lembrar senha</label>
                      </div>
					<br>
				</form>
				<div class="texto-login1cel">
				    <p id="txtform" class="pesqueceucel">Esqueceu sua senha? <a>Clique aqui para recuperá-la</a></p>   
				</div>
				<div >
				    <p class="texto-login2cel" id="txtform">Ainda não tem cadastro? <a>REGISTRE-SE</a></p>   
				</div>
			</div>
	
	<div class="back-footercadastro">
	    <img class="madeira1" src="img/madeira.png" alt="divisão de madeira" width="100%" height="10px">
		<p class="copy">&copy; Copyright 2017 by <a class="acopy" href="http://www.dj.blog.br/">DJ FULL DIGITAL</a> - All rights reserved!</p>
	</div>
      
</div>