              <h4>Afiliados</h4>
        <div class="">
            <h3 class="center">Afiliados</h3>
            <br>
            <p>Ganhe dinheiro indicando a PayJump para seus amigos. Você ganhará R$ 15,00 na primeira operação que seu convidado fizer (compra ou venda).</p>
            <p><button type="submit" name="btEnvia" class="btn btn-success btn-lg btn-block botaonovos btnnovos hidden-xs"><span class="textobotaocadastro">Criar Novo Link</span></button></p>
            <p><button type="submit" name="btEnvia" class="btn btn-success btn-lg btn-block botaonovoscel btnnovoscel hidden-sm hidden-lg hidden-md"><span class="textobotaocadastro">Criar Novo Link</span></button></p>
                </div>
      