              <h4>Comprar</h4>
        <div class="hidden-xs">
            <h3 class="center">Passos para comprar</h3>
            <div class="painel">
                <div class="painelheader">
                    <h5>1. Escolha uma conta</h5>
                </div>
            <br>
            <div class="center">
                <p>Por favor, selecione uma conta e deslize a página para baixo preenchendo os dados adicionais.</p>
                <p>Cadastre uma nova conta para começar a adquirir e vender seus créditos.</p>
            </div>
            <p>ou <a class="link-menu" href="cadastro.html">+ nova conta</a></p>
            </div>
        </div>
        <div class="hidden-sm hidden-lg hidden-md">
            <h3 class="center">Passos para comprar</h3>
            <div class="painelcel">
                <div class="painelheadercel">
                    <h5>1. Escolha uma conta</h5>
                </div>
            <br>
            <div class="center">
                <p>Por favor, selecione uma conta e deslize a página para baixo preenchendo os dados adicionais.</p>
                <p>Cadastre uma nova conta para começar a adquirir e vender seus créditos.</p>
            </div>
            <p>ou <a class="link-menu" href="cadastro.html">+ nova conta</a></p>
            </div>
        </div>
      