        <h4>Dados pessoais</h4>
        <form class="form-pessoais">
			<p id="txtform"><input class="form-control" type="text" size="40" name="nome" id="nome" placeholder="Nome" onfocus="EmptyField(this.id);"></p>   
			<br>
			<p id="txtform"><input class="form-control" type="text" size="40" name="replyto" id="e-mail" placeholder="Email" onfocus="EmptyField(this.id);"></p>   
			<br>
			<p id="txtform"><input class="form-control" type="text" size="40" name="replyto" id="celular" placeholder="Celular" onfocus="EmptyField(this.id);"></p>   
			<br>
			<p id="txtform"><input class="form-control" type="text" size="40" name="replyto" id="indicacao" placeholder="Indicação" onfocus="EmptyField(this.id);"></p>   
		</form>
		<form action="#" method="POST" class="form-pessoais">
			<p id="txtform"><input class="form-control" type="text" size="40" name="replyto" id="cpf" placeholder="CPF" onfocus="EmptyField(this.id);"></p>   
			<br>
			<p id="txtform"><input class="form-control" type="text" size="40" name="replyto" id="celular" placeholder="Data de nascimento" onfocus="EmptyField(this.id);"></p>   
			<br>
			<p id="txtform"><input class="form-control" type="text" size="40" name="replyto" id="indicacao" placeholder="Banco" onfocus="EmptyField(this.id);"></p>   
			<br>
			<p id="txtform"><input class="form-control" type="text" size="40" name="replyto" id="indicacao" placeholder="Agência" onfocus="EmptyField(this.id);"></p>   
			<br>
			<p id="txtform"><input class="form-control" type="text" size="40" name="replyto" id="indicacao" placeholder="Conta" onfocus="EmptyField(this.id);"></p>   
			<br>
			<p id="txtform"><input class="form-control" type="text" size="40" name="replyto" id="indicacao" placeholder="Operação" onfocus="EmptyField(this.id);"></p>   
			<br>
			<p><button type="submit" name="btEnvia" class="btn btn-success btn-lg btn-block botaosalvar btnsalvar hidden-xs"><span class="textobotaocadastro">Salvar</span></button></p>
			<p><button type="submit" name="btEnvia" class="btn btn-success btn-lg btn-block botaosalvarcel btnsalvarcel hidden-sm hidden-lg hidden-md"><span class="textobotaocadastro">Salvar</span></button></p>
		</form>
      </div> 