<div class="component-holder ng-binding ng-scope" id="sidebar"> 
		  <div class="nav-side-menu navbar-home"> 
			<div class="brand"> 
			  <img src="img/payjump.png" class="" width="" height="60"> 
			</div> 
			<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse"></i> 
			<div class="menu-list"> 
			  <li class="collapsed component-holder item-menu"><span class="">{{session.user.nameb3}}</span></li>
			  <li class="collapsed component-holder item-menu"><span class="">MENU</span></li>
			  <li class="collapsed component-holder"> <a href="#/home/logged/dadospessoais" class=""> <i class="glyphicon glyphicon-user"></i> <span class="">Dados Pessoais</span> </a> </li> 
			  <li class="collapsed component-holder"> <a href="#/home/logged/contas" class=""> <i class="glyphicon glyphicon-credit-card"></i> <span class="">Contas</span> </a> </li> 
			  <li class="collapsed component-holder"> <a href="#/home/logged/comprar" class=""> <i class="glyphicon glyphicon-arrow-right"></i> <span class="">Comprar Fichas</span> </a> </li> 
			  <li class="collapsed component-holder" data-component="crn-sidebar-item"> <a href="#/home/logged/vender" class=""> <i class="glyphicon glyphicon-arrow-left"></i> <span class="">Vender Fichas</span> </a> </li> 
			  <li class="collapsed component-holder"> <a href="#/home/logged/afiliados" class=""> <i class="glyphicon glyphicon-briefcase"></i> <span class="">Afiliados</span> </a> </li> 
			  <li class="collapsed component-holder"> <a href="#/home/logged/historico" class=""> <i class="glyphicon glyphicon-repeat"></i> <span class="">Histórico</span> </a> </li> 
			  <li class="collapsed component-holder item-menu"><span class="">RECENTES</span></li>
			  <div class="justificado"><span class="texto-menu">Complemente seu cadastro. Mantenha seus dados atualizados para maior agilidade e segurança. <a class="link-menu">Atualizar agora</a></span></div>
			</div> 
		  </div> 
		</div> 
		<div ui-view="" class="container-fluid main-view" data-container="true"> 
        </div>